
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');


* {
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #1D1B1B;;
}

.main {
  padding: 40px;
  width: 100%;
  height: 1200px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  background-color: yellowgreen;
}

h2 {
  color: deeppink;
  font-size: 56px;
  margin-left: 12px;

}
h3 {
  color: deeppink;
  font-size: 32px;
}

.list {
  padding: 40px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}


.list li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 200;
}

.list li a:hover {
  color: deeppink;
}

.total {
  display: flex;
  font-size: 32px;
  padding: 16px 0;
  font-weight: bold;
  align-items: baseline;
}

.main a {
  text-decoration: none;
  color: #393838;
}

.main a:hover {
  color: deeppink;
  font-weight: bold;
}

.blog-titles {
  display: flex;
  flex-direction: column;
}

.nav-container {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: baseline;
  align-items: stretch;
}

.nav-container ul {
  list-style-type: none;
  margin: 0;
  width: 100%;
  display: flex;
  align-content: center;
}

.nav-container ul:active {
  background-color: deeppink;
}

.nav-container li {
  background-color: #ffffff;
  text-align: center;
  border: 6px solid deeppink;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-self: stretch;
  flex-direction: column;
}

.nav-container li a {
  text-decoration: none;
}

.nav-container li:hover {
  background-color: hotpink;
  color: #ffffff;
}

.nav-container li:active {
  background-color: deeppink;
  color: #ffffff;
}

.active-link {
  display: flex;
  background-color: deeppink;
  flex-direction: column;
  width: 100%;
  color: white;
  height: 100%;
  justify-content: center;
  align-items: stretch;
  align-self: stretch;

}

.login-button {
  margin-top: 56px;
  margin-left: auto;
  margin-right: auto;
  width: 46%;
  height: 64px;
  align-self: center;
  justify-content: center;
  background-color: #1D1B1B;
  color: deeppink;
  font-size: 24px;
  font-weight: bold;
  border: none;
}

.login-button:hover {
  background-color: hotpink;
  color: #1D1B1B;
}

.nummer {
  color: lightpink;
  font-size: 18px;
  font-weight: bold;
}